<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>doujiao</title>
  <link rel="stylesheet" href="css/hover.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/ouery.js"></script>
</head>
<body>
  <div id="wrapper">
    <!-- 顶部导航 -->
    <div class="topnav">
      <h1>
        <a href="#">Doujiao</a>
      </h1>
      <div class="top-panel">
        <ul class="top-menu pandect-menu">
          <li ><a href="#">公众号管理</a></li>
          <li class="pandect-menu-on"><a href="#" class="fn_manage">功能管理</a></li>
        </ul> 
      </div>
      <div class="user-menu">
        <ul>
          <li class="top-username">
            <a href="#" title="用户">用户名<i class="fa fa-angle-down"></i></a>
            <div class="top-user-box">
              <div class="balance-num">        
                <em class="txt">账户余额</em>        
                <span class="num">            
                  <b data-field="balance">0</b><i></i>            
                  <strong>元</strong>        
                </span>        
                <a href="/account/recharge" class="btn" style="" data-event="nav" data-auth="account" data-hot="header.user.rechage">立即充值</a>    
              </div>
              <div class="admin-center-list">    
                <ul class="select-list clearfix">        
                  <li><a href="#">账户信息</a></li> 
                  <li><a href="#">修改密码</a></li>
                  <li><a href="#">短信管理</a></li> 
                  <li><a href="#">邀请朋友</a></li>          
                </ul>
              </div>
              <div class="exit">    
                <a href="javascript:void(0)" class="btn-exit">退出</a>
              </div>
            </div>
          </li>
          <li class="service-support">
            <a href="#" title="工单系统">工单系统</a>
            <ul class="service-menu">
              <li><a href="#">官方论坛</a></li>
              <li><a href="#">联系客服</a></li>
              <li><a href="#">帮助文档</a></li>
            </ul>
          </li>         
          <li><a href="#" title="返回首页"><i class="fa fa-home"></i></a></li>
          <li><a href="#" title="登录"><i class="fa fa-user"></i></a></li>
        </ul>
      </div>
    </div>
         