<%- include header.html %>
    <div class="content">
      <!-- 左侧边栏 -->
      <%- include sidebar.html %>
      <!-- 右内容区域 -->
      <div class="right-cnt">
        <div class="path">
          <div class="location">您当前的位置：文章管理<span>官方QQ号：3105920978</span></div>
        </div>
        <div class="main-cnt">
          <div class="cnt-box-bg">
            <div class="clearfix">
              <a href="#" class="btn btn-record">添加文章</a>
              <a href="#" class="btn btn-record">删除文章</a>
              <a href="#" class="btn btn-record">批量转移</a>
            </div>
            <table>
              <tr>
                <th>文章标题</th>
                <th>作者</th>
                <th>时间</th>
                <th>分类</th>
                <th>操作</th>
              </tr>
              <tr>
                <td><img src="images/兔.png" alt=""><p>睡在我上铺的兄弟</p></td>
                <td>豆角</td>
                <td><p>2016-01-12</p></td>
                <td>图文</td>
                <td><a href="#">编辑</a><a href="#">删除</a><a href="#">功能管理</a><a href="#">API接口</a></td>
              </tr>
              <tr>
                <td><img src="images/兔.png" alt=""><p>睡在我上铺的兄弟</p></td>
                <td>豆角</td>
                <td><p>2016-01-12</p></td>
                <td>图文</td>
                <td><a href="#">编辑</a><a href="#">删除</a><a href="#">功能管理</a><a href="#">API接口</a></td>
              </tr>
              <tr>
                <td><img src="images/兔.png" alt=""><p>睡在我上铺的兄弟</p></td>
                <td>豆角</td>
                <td><p>2016-01-12</p></td>
                <td>图文</td>
                <td><a href="#">编辑</a><a href="#">删除</a><a href="#">功能管理</a><a href="#">API接口</a></td>
              </tr>

            </table>
            <div class="page-skip">
                <span>共<b>3</b>条记录，<a href="#">上一页</a><a href="#">下一页</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
<%- include footer.html %>