<!-- 标签代码开始 -->
<div class="addtag"> 
  <div class="plus-tag tagbtn clearfix" id="myTags"></div>
  <div class="plus-tag-add">
    <form id="" action="" class="login">
      <ul class="Form FancyForm">
        <li class="form-in">
          <label for="tags">我的标签</label>
          <input id="tagsinput" name="tags" type="text" class="stext" maxlength="20" />
          <span class="fff"></span>
        </li>
        <li class="clearfix">
          <button type="button" class="button addtagsbtn redius3">添加标签</button>
          <a href="javascript:void(0);" class="plus">展开推荐标签</a>
        </li>
      </ul>
    </form>
  </div>
<!--plus-tag-add end--> 
  <div id="mycard-plus">
    <div class="default-tag tagbtn">
      <div class="clearfix">
        <a value="-1" title="就业" href="javascript:void(0);"><span>就业</span><em></em></a>
        <a value="-1" title="创业" href="javascript:void(0);"><span>创业</span><em></em></a>
        <a value="-1" title="联系方式" href="javascript:void(0);"><span>联系方式</span><em></em></a>
        <a value="-1" title="招聘信息" href="javascript:void(0);"><span>招聘信息</span><em></em></a>        
      </div>
      <div class="clearfix" style="display:none;"><a value="-1" title="媒体" href="javascript:void(0);"><span>媒体</span><em></em></a></div>
      <div class="clearfix" style="display:none;"><a value="-1" title="网络营销" href="javascript:void(0);"><span>网络营销</span><em></em></a></div>
    </div>
    <div align="right"><a href="javascript:void(0);" id="change-tips" style="color:#3366cc;">换一换</a></div>
  </div><!--mycard-plus end-->   
</div>
<!-- 标签代码 -->