<div class="sidebar">
  <div class="hot-tag">
    <h2><i></i>热门标签</h2>
    <div id="tagscloud">
        <a href="/tags/就业" class="tagc1">就业</a>
        <a href="/tags/创业" class="tagc2">创业</a>
        <a href="/tags/联系方式" class="tagc3">联系方式</a>
        <a href="/tags/就业" class="tagc2">就业<a>
        <a href="/tags/创业" class="tagc3">创业</a>
        <a href="/tags/招聘信息" class="tagc1">招聘信息</a>
        <a href="/tags/就业" class="tagc2">就业</a>
        <a href="/tags/联系方式" class="tagc3">联系方式</a>
        <a href="/tags/创业" class="tagc2">创业</a>
        <a href="/tags/就业" class="tagc1">就业</a>
        <a href="/tags/创业" class="tagc2">创业</a>
        <a href="/tags/联系方式" class="tagc5">联系方式</a>
        <a href="/tags/就业" class="tagc2">就业<a>
        <a href="/tags/创业" class="tagc3">创业</a>
        <a href="/tags/招聘信息#" class="tagc1">招聘信息</a>
        <a href="/tags/就业" class="tagc2">就业</a>
        <a href="/tags/联系方式" class="tagc5">联系方式</a>
        <a href="/tags/创业" class="tagc2">创业</a>
        <a href="/tags/联系方式" class="tagc5">联系方式</a>
        <a href="/tags/创业" class="tagc2">创业</a>
  </div>
</div>
